.horizontal-box {
    width: 100%;
    display: flex;
}

.calculator {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.display {
   border: 2px solid lightseagreen;
   width: 98%;
   height: 25px;
   line-height:25px;
}

button {
    flex: 1;
    border: 0.5px solid grey;
}

.clear-button {
    flex: 1 1 64px;
}

#zero {
    flex: 1 1 64px;
}

.operator-button {
    background-color: orange;
}

.result-button {
    background-color: orange;
}

.backspace-button {
    background-color: lightgrey;
}

.clear-button {
    background-color: lightgrey;
}

.decimal-button:disabled {
    background-color: darkslategrey;
}